body,
button,
input,
textarea,
li {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 0.25rem;
}

span {
  margin: 15px;
}

button {
  margin: 10px;
  padding: 5px 15px 5px 15px;
  background: transparent;
}

form {
  margin: 15px;
}

input {
  border: 1px solid darkgray;
}

html {
  font-size: large;
}

h2 {
  font-size: x-large;
  padding-bottom: 1rem;
}

h3 {
  font-size: large;
  padding-bottom: 1rem;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 50%;
}

.card {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  background-color: #f8f8f8;
}

.card-content h3 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 0;
}
